/* styles for my resume */

body {
     font-family: Arial, sans-serif;
     color: #444;
     font-size: 1;
}

/* banner name at top */
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* role above photo */
strong {
       text-transform: uppercase;
       font-size: 1.5em;
       color: #33485e;
}   

/* resume section titles */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: #FFF;
    font-weight: 400;
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 10px;
    width: 100%;
    min-width: 300px;
}

/* job position at organization */
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* name of organization */
.organization {
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
}

/* date range for job */
.date {
    font-weight: 700;
    font-size: 1em;
    margin: 2px 0 0 0;
}

/* unordered list points */
li {
    font-size: 1em;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.description {
    margin: 10px 0;
}

ul.menu {
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    padding: 0 20px;
}